<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bird.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @bird.family %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @bird.visible %>
</p>

<p>
  <strong>Added:</strong>
  <%= @bird.added %>
</p>

<p>
  <strong>Continents:</strong>
  <%= @bird.continents %>
</p>

<%= link_to 'List', birds_path %>
